/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.DS_Store
/test/database.sqlite
slides.md
/test/dummy
/test/log
/database.sqlite
/test/combustion/database.sqlite*
/test/combustion/log/test.log
/test/combustion/tmp/*
/gemfiles/*.lock
